<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
  <%= link_to "Coinmine Canary", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav justify-content-end" id="navbarLinks">
      <li class="nav-item">
        <%= link_to "Post a Tweet", new_tweet_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Crypto News", crypto_news_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <li><%= link_to 'Sign out', destroy_user_session_path, class: 'nav-link', method: :delete %></li>
      <% else %>
        <li><%= link_to 'Log in', new_user_session_path, class: 'nav-link' %></li>
      <% end %>
    </ul>
  </div>
</nav>


    <!-- <nav class="navbar navbar-toggleable-sm bg-info navbar-inverse" role="navigation">
      <span class="navbar-brand mb-0 h1">Coinmine Canary</span>
      <div class="container">

        <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%# if current_user %>
          <p class="navbar-text">Signed in as <%#= current_user.name %>
        <%# end %>
        <div class="collapse navbar-collapse" id="mainNav">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home</a>
            <a class="nav-item nav-link" href="#">About</a>
          </div>
        </div>
      </div>
    </nav>
    <%# if notice.present? %>
      <p class="alert alert-info"><%#= notice %></p>
    <%# end %>
    <%# if alert.present? %>
      <p class="alert alert-danger"><%#= alert %></p>
    <%# end %> -->
